<pre><center>
There are a lot of different weird logics.

<img src="001.png">

What is the deal with all of them? How are they different?
How are they alike?

I'd like to talk about these ones in particular:

<img src="002.png">

The main way that they are different is how their contexts behave.
Their contexts have a clear <I>algebraic</I> structure. In linear
logic, a context is a multiset. In ordered logic, the context is a
list. These are nice familiar data structures. What we're really
talking about is the wibbly-wobbly judgmental <I>stuff</I> that
already there before we even start talking about propositions.

How can we tease out what the data structure of the context is?

Let's try to do it by binding our own hands and working only in
first-order intuitionistic logic, with no special context magic. The
plan is to <I>simulate</I> logics like linear logic and ordered logic
in first-order intuitionistic logic.

What does that look like?

Given a sequent in, say, ordered logic, we want to somehow translate
all the individual parts of it.

<img src="003.png">

And we need to also somehow do <I>something</I> to get across what the
algebraic shape of the context is.

<img src="004.png">

We allowed ourselves first-order logic at least. Maybe we can get away
with representing the context as a first-order term. Let's make up an atomic
proposition "the_context_is", and try to imagine something looks like this:

<img src="005.png">

There are a few problems with this. For one thing, "A, B, C" is
definitely not a first-order term. A and B and C are propositions, so
this would only be legitimate in some kind of second-order logic,
which is scary, and which we are not doing.

For another, it seems like we banished the conclusion of our ordered
logic sequent to live somewhere in the context. That's weird. The
context of our destination language is just regular old logical
hypotheses: they're subject to duplication and casual discarding. That
isn't appropriate for the conclusion of (intuitionistic) ordered
logic.

Come to think of it, it isn't appropriate for the translation of the
hypotheses either! They're not supposed to be duplicated or discarded.

It seems like the context is a wild and dangerous place to be. For the
very same reason, we don't want to put our "the_context_is" atom in
the context, either.

We can solve all of these problems together.

To deal with the fact that we can't put entire propositions inside the
arguments of an atomic proposition, we'll <I>associate</I> a term
variable with each hypothesis of the ordered logic sequent, and use
these term-surrogates to build up a term expression.

<img src="006.png">

We'll eventually have to pay up and define a translation function A @
&alpha; that takes both a proposition A and a first-order term.

Those bullets there between the &alpha; and &beta; and &gamma; are a
binary operator on first-order terms, which we simply axiomatically
demand that it exists. To reflect the intrinsic associativity of the
ordered logic context, we also need to require that that bullet is
treated as associative.


To make sure our ordered-logic conclusion doesn't get duplicated,
we're going to "tag" it in pretty much the same way, and add it as
another argument to the atomic proposition on the right. Since it's
describing the shape of the whole sequent, we'll change its name to
"the_sequent_is".

<img src="007.png">

The way the translation works is starting to take its final shape. All
parts of the source-language sequent become hypotheses in the target
language. Each one is associated with a distinct term variable, and
those term variables are used to describe the algebraic shape of the
sequent.

One change we'll want to make is distinguishing our first-order terms
into two <I>sorts</I>, which we'll call <I>resources</I> and <I>frames</I>.

<img src="008.png">

Let's clean this up and abbreviate "the_sequent_is" by just writing
square brackets around its arguments.

<img src="009.png">

So let's think about how we simulate a typical ordered logic inference
rule, say fuse-right. This will start telling us how we need to define
our translation function @. Fuse-right looks like this:

<img src="010.png">
</center><pre>
