<html>
<head>
<script type="text/javascript"
   src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script src="config.js"></script>
<style>
* { -webkit-print-color-adjust:exact; }
.foo {  white-space: pre; }



table:not(.meta) td {  background-color: #fed;
 width: 200px; padding: 8px 0px; text-align: center; vertical-align: baseline;}
table.meta td { vertical-align: top;}

tr.header >  td { background-color: #def;  }
table td.small {width: 0px;  background-color: white;}

table { border-spacing: 10px 1px; }

.val { background-color: #dec; }

.outer { width: 100%; display: table; padding: 20px 0px 20px 0px;  }
.firstouter { width: 100%; display: table; padding: 0px 0px 20px 0px;  }

.inner { display: table-cell; background-color: #def; height: 1.5em; text-align: center; vertical-align: middle;
// text-shadow: 0.1em 0.1em 0.2em white;
 font-size: 20px; font-family: sans}

body { margin: auto; }
div.container { width: 800px; }
body * { margin-left: auto; margin-right: auto; }
.defns {position: absolute; } // so it doesn't create any whitespace above the first header
</style>
</head>
<body>
<div class="container">
<div class="defns">
$
\def\imp{\Rightarrow}
\def\celse{\ |\ }
\def\prov{\vdash}
\def\dns{{\downarrow}}
\def\ups{{\uparrow}}
\def\preq{\dashv\vdash}
\def\sh{\#}
\def\tensor{\land^+}
\def\altdiamond{\blacklozenge}
\def\altsquare{\blacksquare}
$
</div>

<div class="firstouter"><div class="inner">Intro</div></div>

For some time I've been trying to find a nice reductionistic answer to the question of what is the deal with
<A HREF="http://www.cs.cmu.edu/~fp/papers/mscs00.pdf">Pfenning-Davies</A> style modalities, anyway?
Ideally something that smells like a Kripke semantics. This is the best I've got so far.
<p/>
The game is to take a modal language and translate it away into first-order logic. This is done in such a way as to preserve the intended focusing proof search behavior of the source language.


<div class="firstouter"><div class="inner">Source Language</div></div>

The source language is a polarized modal language. Polarized means that propositions are divide into positive and negative propositions.
Its syntax goes like this:
<table>
<tr><td class="small">Negative $N$</td><td class="small">$::=$</td><td>$P \imp N \celse N \land N \celse \top \celse a^- \celse \ups P \celse  \Diamond P \celse \altsquare P \celse{\bigcirc N}$</td></tr>
<tr><td class="small">Positive $P$</td><td class="small">$::=$</td><td>$P \tensor P \celse P \lor P \celse 1 \celse 0 \celse  a^+ \celse \dns N \celse \square N \celse \altdiamond N $</td></tr>
</table>

The distinction between negative $\land$ and positive $\tensor$ isn't
super important, since the two are effectively the same in a
nonsubstructural logic, but I like to keep the distinction since we're considering focusing.
<p></p>
There's a big zoo of various connectives here. $\square$ is Pfenning-Davies box. Pfenning-Davies $\Diamond$ decomposes
as $\bigcirc \Diamond$ in this language here. The usual lax logic connective is $\bigcirc \ups$. The modalities $\altsquare$ and
$\altdiamond$ are unfamiliar to me --- they were backformed from throwing in an existential quantifier over worlds at certain points
in the translation where it wasn't already being used.

<div class="outer"><div class="inner">Target Language</div></div>


The target language is focused first order intuitionistic logic.

<div class="outer"><div class="inner">
Translation
</div></div>

$$P^{t\phi} = P^t \imp h(t\phi)$$
$$N^t = \forall \phi. N^{t\phi} \imp h(t \phi)$$

<table class="meta"><tr><td>

<table>
<tr class="header"><td>$N$</td><td>$N^{t\phi}$</td></tr>
<tr>
<td>$P \imp N$</td>
<td>$P^t \tensor N^{t\phi}$
</tr>

<tr>
<td>$N_1 \land N_2$</td>
<td>$N_1^{t\phi} \lor N_2^{t\phi}$</td>
</tr>

<tr>
<td>$\bot$</td>
<td>$1$</td>
</tr>

<tr>
<td>$\top$</td>
<td>$0$</td>
</tr>

<tr>
<td>$a^-$</td>
<td>$ a^+(t\phi)$</td>
</tr>

<tr>
<td>$\ups P$</td>
<td>$\dns P^{t\phi}$
</tr>

<tr>
<td>$\Diamond P$</td>
<td>$ \dns  \forall s \ge t .   P^{s\phi}$</td>
</tr>

<tr>
<td>$\altsquare P$</td>
<td>$ \exists s \ge t . \dns    P^{s\phi}$</td>
</tr>

<tr>
<td>$\bigcirc N$</td>
<td>$\star(\phi) \tensor    N^{t\phi}$</td>
</tr>

</table>
</td><td>
<table>
<tr class="header"><td>$P$</td><td>$P^t$</td></tr>

<tr>
<td>$P_1 \tensor P_2$</td>
<td>$P_1^t \tensor P_2^t$</td>
</tr>

<tr>
<td>$P_1 \lor P_2$</td>
<td>$P_1^t \lor P_2^t$</td>
</tr>


<tr>
<td>$1$</td>
<td>$1$</td>
</tr>

<tr>
<td>$0$</td>
<td>$0$</td>
</tr>


<tr>
<td>$a^+$</td>
<td>$a^+(t)$</td>
</tr>

<tr>
<td>$\dns N$</td>
<td>$\dns N^t$
</tr>

<tr>
<td>$\square N$</td>
<td>$\dns \forall s \ge t . N^s$</td>
</tr>


<tr>
<td>$\altdiamond N$</td>
<td>$ \exists s \ge t . \dns N^s$</td>
</tr>


</table>
</td></tr></table>

<div class="outer"><div class="inner">
Theorems
</div></div>

For any proposition $X$, let $\bar X$ be $X$ with all pairs of double shifts removed.
Then
<table><tr><td>
$\bar P^{t\phi} \preq P^{t\phi}$
</td></tr>
<tr><td>
$\bar N^{t} \preq N^{t}$
</td></tr></table>


<p/>
For any proposition $X$, let $X^*$ be $X$ with every $\Diamond$ replaced by $\bigcirc \Diamond$.
Then provability of $\prov N$ in Pfenning-Davies coincides
with provability of $\prov \forall \phi . ( N^*)^{t\phi} \to h(t\phi)$ in focused first-order logic.

<br><br><br>
<br><br><br>
</div>
</body>
</html>

