<html>
<head>
<script type="text/javascript"
   src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script src="config.js"></script>
<style>
* { -webkit-print-color-adjust:exact; }
.foo {  white-space: pre; }
table.xlate td { background-color: #fed; width: 200px; padding: 8px 0px; text-align: center; vertical-align: baseline;}
table.xlate .header > td { background-color: #def; }
table.xlate { border-spacing: 10px 1px; }
.small { width: 0px; background-color: white;}
.right { text-align: right; }
.val { background-color: #dec; }
b { background-color: #dec; padding: 5px; margin: 5px; display: inline-block; line-spacing: 10em; }

.outer { width: 100%; display: table; padding: 20px 0px 20px 0px;  }
.firstouter { width: 100%; display: table; padding: 0px 0px 20px 0px;  }

.inner { display: table-cell; background-color: #def; height: 1.5em; text-align: center; vertical-align: middle;
// text-shadow: 0.1em 0.1em 0.2em white;
 font-size: 20px; font-family: sans}

body { width: 1024px; margin: auto; }
body * { margin: auto; }
.defns {position: absolute; } // so it doesn't create any whitespace above the first header
</style>
</head>
<body>

<div class="defns">
$
\def\dash{\unicode{8212}}
\def\trov{\triangleright}
\def\ttrov{\triangleright_t}
\def\xtrov{\triangleright_x}
\def\imp{\Rightarrow}
\def\celse{\ |\ }
\def\prov{\vdash}
\def\dns{{\downarrow}}
\def\ups{{\uparrow}}
\def\preq{\dashv\vdash}
\def\sh{\#}
\def\lol{\multimap}
\def\tensor{\otimes}
\def\wat#1{\mathrel{@_{#1}}}
\def\ast#1{\mathrel{*_{#1}}}
\def\bull#1{\mathrel{\bullet_{#1}}}
\def\rle{\sqsubseteq}
$
</div>

<div class="firstouter"><div class="inner">Source Language</div></div>

The source language is a polarized version of the Pfenning-Davies modal language.
Its syntax goes like this:
<table>
<tr><td class="right">Negative $N$</td><td class="right">$::=$</td><td>$P \lol N \celse N \land N \celse \top \celse \Diamond P \celse a^- \celse \ups P$</td></tr>
<tr><td class="right">Positive $P$</td><td class="right">$::=$</td><td>$P \tensor P \celse P \lor P \celse 1 \celse 0 \celse \square N \celse a^+ \celse \dns N$</td></tr>
</table>


<div class="outer"><div class="inner">Target Language</div></div>

The target language is just ordinary focused first order logic,
nothing surprising. The first-order stuff has a couple of distinguished sorts and  function symbols,
<table>
<tr><td class="right">Frames $f$</td><td class="right">$::=$</td><td>$p \lol f \celse \phi $</td></tr>
<tr><td class="right">Resources $p$</td><td class="right">$::=$</td><td>$p \tensor p \celse \epsilon \celse \alpha$</td></tr>
<tr><td class="right">Worlds $t$</td><td class="right">$::=$</td><td>$x$</td></tr>
</table>
Frame variables are $\phi$, resource variables are $\alpha$, and $\epsilon$ is the empty resource.
Kripke worlds $t$ have no interesting structure. They may only be variables $x$.
<br/><br/>
We will speak of continuations $k(\alpha)$ that take a resource and return a (negative) target-language proposition,
and continuations $\kappa(\phi)$ that take a frame and return a (negative) target-language proposition.
<br/><br/>
A continuation $k$ is said to be <I>monotone</I> if $p_1 \rle p_2$ implies $k(p_1) \prov k(p_2)$.
Similarly $\kappa$ is monotone if $f_1 \rle f_2$ implies $\kappa(f_1) \prov \kappa(f_2)$.
<br/><br/>
The expression $p \ttrov f$ is basically a negative atom, but with inference rule
$$
p \rle p' \qquad f \rle f'
\over
\Gamma, p\ttrov f \prov p' \ttrov f'
$$
which means that $\dash \trov f$ and $p\trov \dash$ are monotone, i.e. that
$p_1 \rle p_2$ implies $p_1 \trov f \prov p_2 \trov f$, and
$f_1 \rle f_2$ implies $p \trov f_1 \prov p \trov f_2$.
For this rule to pass cut and identity we need $\rle$ to be reflexive and transitive.
<br/><br/>
We sometimes omit target-language shifts for brevity.


<div class="outer"><div class="inner">
Abbrevs and Translation
</div></div>
Here are basically two completely disjoint but equivalent translations, the $@$ translation vs. the $\bullet/*$ translation.
The reason I like the $@$ translation is its target language is smaller (basically only negatives, and especially no inequalities to deal with).
The reason I like the $\bullet/*$ translation is it looks less complicated to write out the individual clauses, and essentially
has no fiddly continuations to worry about if you expand out the definition of $\bullet$ everywhere it's used. Also it's
easier to prove stuff about directly, see below.

$$ P \bull t k = \forall \alpha.  P \ast t \alpha \imp k(\alpha) \qquad P \bull t f = P \bull t (\dash \ttrov f)$$
$$ N \bull t \kappa = \forall \phi. N \ast t \phi \imp \kappa(\phi)\qquad N \bull t p = N \bull t (p \ttrov \dash)$$


<table class="xlate">
<tr class="header"><td>$N$</td><td>$N \wat t \kappa$</td><td>$N\ast t f$</td></tr>
<tr>
<td>$P \lol N$</td>
<td>$P \wat t \alpha . N \wat t \phi . \kappa(\alpha \lol \phi)$</td>
<td>$\exists \alpha. (P \ast t \alpha) \tensor \exists \phi . (N \ast t \phi) \tensor (\alpha \lol \phi \rle f)$ </td>
</tr>

<tr>
<td>$N_1 \land N_2$</td>
<td>$N_1 \wat t \kappa \land N_2 \wat t \kappa$</td>
<td>$N_1 \ast t f \lor N_2 \ast t f$</td>
</tr>

<tr>
<td>$\top$</td>
<td>$\top$</td>
<td>$0$</td>
</tr>

<tr>
<td>$\Diamond P$</td>
<td>$\forall \phi . \star^+(\phi) \imp (\dns \forall x \ge t .   P \wat x (\dash \xtrov \phi)) \imp \kappa(\phi)$</td>
<td>$ \star^+(f) \tensor \dns \forall x \ge t .   P \bull x f$</td>
</tr>

<tr>
<td>$a^-$</td>
<td>$\forall \phi . \dns a^+(\phi, t) \imp \kappa(\phi)$</td>
<td>$ a^+(f, t)$</td>
</tr>

<tr>
<td>$\ups P$</td>
<td>$\forall \phi . \dns P \wat t (\dash \ttrov \phi) \imp \kappa(\phi)$</td>
<td>$\dns P \bull t f$</td>
</tr>

</table>

<table class="xlate">
<tr class="header"><td>$P$</td><td>$P \wat t k$</td><td>$P \ast t p$</td></tr>

<tr>
<td>$P_1 \tensor P_2$</td>
<td>$P_1 \wat t \alpha_1 . P_2 \wat t \alpha_2 . k (\alpha_1 * \alpha_2)$
<td>$\exists \alpha_1. (P_1 \ast t \alpha_1) \tensor \exists \alpha_2 . (P_2 \ast t \alpha_2) \tensor (\alpha_1 * \alpha_2 \rle p)$ </td>
</tr>

<tr>
<td>$P_1 \lor P_2$</td>
<td>$P_1 \wat t k \land P_2 \wat t k$</td>
<td>$P_1 \ast t p \lor P_2 \ast t p$</td>
</tr>

<tr>
<td>$1$</td>
<td>$k(\epsilon)$</td>
<td>$\epsilon \rle p$</td>
</tr>

<tr>
<td>$0$</td>
<td>$\top$</td>
<td>$0$</td>
</tr>

<tr>
<td>$\square N$</td>
<td>$\forall \alpha . (\dns \forall x \ge t . N \wat x (\alpha\xtrov \dash)) \imp k(\alpha)$</td>
<td>$\dns \forall x \ge t . N \bull x p$</td>
</tr>


<tr>
<td>$a^+$</td>
<td>$\forall \alpha . a^+(\alpha, t) \imp k(\alpha)$</td>
<td>$a^+(p, t)$</td>
</tr>

<tr>
<td>$\dns N$</td>
<td>$\forall \alpha . \dns N \wat t (\alpha\ttrov \dash) \imp k(\alpha)$</td>
<td>$\dns N \bull t p$</td>
</tr>

</table>

<br/>

<div class="outer"><div class="inner">
Theorems
</div></div>

<b>Theorem</b> The two translations are basically the same. 
For any monotone continuations $k$ or $\kappa$, we have
<table class="xlate"><tr><td>
$N\wat t \kappa \preq N \bull t \kappa$
</td></tr>
<tr><td>
$P\wat t k \preq P \bull t k$
</td></tr></table>
<b>Proof</b>: Straightforward induction.<br/>
<b>Case</b>: $P \lol N$.
$$ \forall \phi' . (\exists \alpha. (P \ast t \alpha) \tensor \exists \phi . (N \ast t \phi) \tensor (\alpha \lol \phi \rle \phi')) \imp \kappa(\phi')$$
$$\preq \forall \alpha . P \ast t \alpha \imp \forall \phi . N \ast t \phi \imp \kappa(\alpha \lol \phi)$$
$$\preq P \wat t \alpha . N \wat t \phi . \kappa(\alpha \lol \phi)$$

<b>Case</b>: $P_1 \tensor P_2$.
$$ \forall \alpha . (\exists \alpha_1. (P_1 \ast t \alpha_1) \tensor \exists \alpha_2 . (P_2 \ast t \alpha_2) \tensor (\alpha_1\tensor\alpha_2 \rle \alpha )) \imp k(\alpha)$$
$$\preq \forall \alpha_1 . P_1 \ast t \alpha \imp \forall \alpha_2 . P_2 \ast t \alpha_2 \imp k(\alpha_1 \tensor\alpha_2)$$
$$\preq P_1 \wat t \alpha_1 . P_2 \wat t \alpha_2 . k(\alpha_1 \tensor \alpha_2)$$

<b>Case</b>: $P_1 \lor P_2$.
$$ \forall \alpha . (P_1 \ast t \alpha \lor P_2 \ast t \alpha) \imp k(\alpha)$$
$$\preq (\forall \alpha . P_1 \ast t \alpha  \imp k(\alpha)) \land (\forall \alpha . P_2 \ast t \alpha  \imp k(\alpha))$$
$$\preq  P_1 \wat t k \land P_2 \wat t k$$

<b>Case</b>: $1$.
$$ \forall \alpha . \epsilon \rle \alpha \imp k(\alpha) \preq k(\epsilon)$$


<br/>

<b>Brouwer's Lemma</b>
For any $p,f,t$, and target language proposition $X$,
<table class="xlate"><tr><td>
$$ \forall \alpha . (\forall \phi' . (\forall \alpha' . X(\alpha') \imp \alpha' \ttrov\phi') \imp \alpha \ttrov \phi' ) \imp (\alpha\ttrov f)
\preq \forall \alpha . X(\alpha) \imp (\alpha\ttrov f) $$
</td></tr>
<tr><td>
$$ \forall \phi . (\forall \alpha' . (\forall \phi' . X(\phi') \imp \alpha'\ttrov\phi' ) \imp  \alpha'\ttrov \phi  ) \imp (p\ttrov \phi)
\preq \forall \phi . X(\phi) \imp (p \ttrov\phi) $$
</td></tr></table>
<b>Proof</b>: Direct. Basically the same as showing $\lnot\lnot\lnot A \preq \lnot A$.<br/><br/>


<b>Theorem</b>
<table class="xlate"><tr><td>
$(\dns \ups P) \bull t f \preq P \bull t f$
</td></tr>
<tr><td>
$(\ups \dns N) \bull t \alpha \preq N \bull t \alpha$
</td></tr></table>
<b>Proof</b>: Direct. We can deduce<br/>
$$(\dns \ups P) \bull t  f $$
$$= \forall \alpha . (\dns \ups P) \ast t \alpha \imp (\alpha\ttrov f) $$
$$\preq \forall \alpha . (\forall \phi . \ups P \ast t \phi \imp \alpha \ttrov \phi ) \imp (\alpha\ttrov f) $$
$$\preq \forall \alpha . (\forall \phi . (\forall \alpha' . P \ast t \alpha' \imp \alpha' \ttrov\phi) \imp \alpha \ttrov \phi ) \imp (\alpha\ttrov f) $$
$$\preq \forall \alpha . P \ast t \alpha \imp (\alpha\ttrov f) $$
$$= P \bull t  f$$
and symmetrically for the other part of the theorem.

<br/><br/><b>Theorem</b>
Let $X^\circ$ be $X$ with all double shifts removed.
<table class="xlate"><tr><td>
$ P^\circ \bull t f \preq P \bull t f$
</td></tr>
<tr><td>
$N^\circ \bull t p \preq N \bull t p$
</td></tr></table>
<b>Proof</b>: If the proposition has some double shifts at the outside, use the previous theorem to eliminate them.
In any event, we must make sure the induction hypothesis is applicable to deal with more deeply nested double shifts.
For connectives that effectively embed a shift ($\square,\Diamond,\ups,\dns$) this is trivial. For instance,
since $\square N \ast t p = \dns \forall x \ge t. N \bull x p$ has the subexpression $N \bull x p$,
we can immediately apply the induction hypothesis.
<br/><br/>
Consider, however, $P \lol N$. We want to show
$$(P^\circ \lol N^\circ) \bull t p \preq (P \lol N) \bull t p$$
This expands to
$$
 \forall \phi' . (\exists \alpha. (P^\circ \ast t \alpha) \tensor \exists \phi . (N^\circ \ast t \phi) \tensor (\alpha \lol \phi\rle\phi')) \imp (p\ttrov\phi')
$$ $$\preq
 \forall \phi' . (\exists \alpha. (P \ast t \alpha) \tensor \exists \phi . (N \ast t \phi) \tensor ( \alpha \lol \phi\rle\phi')) \imp (p\ttrov\phi')$$
which is equivalent (after doing some derivations in the target language) to having to show
$$\forall \alpha. (P^\circ \ast t \alpha) \imp \forall \phi . (N^\circ \ast t \phi) \imp (p\ttrov \alpha \lol \phi)$$
$$\preq \forall \alpha. (P \ast t \alpha) \imp \forall \phi . (N \ast t \phi) \imp (p\ttrov \alpha \lol \phi)$$
Now we just have to massage around the first of these propositions so that the $P^\circ$ and $N^\circ$ become amenable to the induction hypothesis.
We reason as follows:
$$\forall \alpha. (P^\circ \ast t \alpha) \imp \forall \phi . (N^\circ \ast t \phi) \imp (p\ttrov \alpha \lol \phi)$$
$$\preq \forall \alpha. (P^\circ \ast t \alpha) \imp \forall \phi . (N^\circ \ast t \phi) \imp (p \tensor \alpha \ttrov \phi)$$
$$\preq \forall \alpha. (P^\circ \ast t \alpha) \imp \forall \phi . (N \ast t \phi) \imp (p \tensor \alpha \ttrov \phi)$$
$$\preq \forall \phi . (N \ast t \phi) \imp \forall \alpha. (P^\circ \ast t \alpha) \imp  ( \alpha \ttrov p \lol \phi)$$
$$\preq \forall \phi . (N \ast t \phi) \imp \forall \alpha. (P \ast t \alpha) \imp  ( \alpha \ttrov p \lol \phi)$$
$$\preq \forall \alpha. (P \ast t \alpha) \imp \forall \phi . (N \ast t \phi) \imp (p\ttrov \alpha \lol \phi)$$
<br/><br/><br/>
</body>
</html>

