<html>
<head>
<script type="text/javascript"
   src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script src="config.js"></script>
<style>
* { -webkit-print-color-adjust:exact; }
.foo {  white-space: pre; }
td { background-color: #fed; width: 200px; padding: 8px 0px; text-align: center; vertical-align: baseline;}
.header > td { background-color: #def; }
table { border-spacing: 10px 1px; }
.small { width: 0px; background-color: white;}
.val { background-color: #dec; }

.outer { width: 100%; display: table; padding: 20px 0px 20px 0px;  }
.firstouter { width: 100%; display: table; padding: 0px 0px 20px 0px;  }

.inner { display: table-cell; background-color: #def; height: 1.5em; text-align: center; vertical-align: middle;
// text-shadow: 0.1em 0.1em 0.2em white;
 font-size: 20px; font-family: sans}

body { margin: 0px; }
body * { margin: auto; }
.defns {position: absolute; } // so it doesn't create any whitespace above the first header
</style>
</head>
<body>

<div class="defns">
$
\def\imp{\Rightarrow}
\def\celse{\ |\ }
\def\prov{\vdash}
\def\dns{{\downarrow}}
\def\ups{{\uparrow}}
\def\preq{\dashv\vdash}
\def\sh{\#}
\def\tensor{\land^+}
$
</div>

<div class="firstouter"><div class="inner">Source Language</div></div>

The source language is a straightforward polarized modal language.
Its syntax goes like this:
<table>
<tr><td class="small">Negative $N$</td><td class="small">$::=$</td><td>$P \imp N \celse N \land N \celse \top \celse \Diamond P \celse a^- \celse \ups P$</td></tr>
<tr><td class="small">Positive $P$</td><td class="small">$::=$</td><td>$P \tensor P \celse P \lor P \celse 1 \celse 0 \celse \square N \celse a^+ \celse \dns N$</td></tr>
</table>


<div class="outer"><div class="inner">Target Language</div></div>

<table>
The target language is just ordinary focused first order logic,
nothing surprising.

Pick one distinguished negative atomic formula $h(w, \phi, m)$ (pronounced 'here')
with three arguments.
<ul>
<li>$w$ is the Kripke modal world for the modal logic of $\square$ and $\Diamond$.
<li>$\phi$ can be seen as a modal world in the sense that intuitionistic logic is a modal logic over classical logic. We shunt conclusions into the context, (arguably a classical-logical sort of trick to pull) so we need $\phi$ to make sure only the 'fresh' ones can be used.
<li>$m$ is a parameter used to enforce the condition that $\Diamond$
can only be unpacked on the left when the conclusion is
$\mathrm{poss}$. There is a distinguished first-order term $\star$ constant
which may appear in the third argument of $h$.
</ul>

<div class="outer"><div class="inner">
 Translation
</div></div>

Define the functions $N^w$ and $P^w$ by
<table>
<tr class="header"><td>$N$</td><td>$N^w$</td></tr>
<tr>
<td>$P \imp N$</td>
<td>$P^w \imp N^w$</td>
</tr>

<tr>
<td>$N_1 \land N_2$</td>
<td>$N_1^w \land N_2^w$</td>
</tr>

<tr>
<td>$\top$</td>
<td>$\top$</td>
</tr>

<tr>
<td>$\Diamond P$</td>
<td>$\forall \phi . \dns (\forall v \ge w . P^v \to h(v \phi \star)) \to h(w \phi \star)$</td>
</tr>

<tr>
<td>$a^-$</td>
<td>$\forall \phi m . a^+(w\phi) \to h(w \phi m)$</td>
</tr>


<tr>
<td>$\ups P$</td>
<td>$\forall \phi m . \dns (P^w \to h(w \phi m)) \to h(w \phi m)$</td>
</tr>

</table>

<table>
<tr class="header"><td>$P$</td><td>$P^w$</td></tr>

<tr>
<td>$P_1 \tensor P_2$</td>
<td>$P_1^w \tensor P_2^w$</td>
</tr>

<tr>
<td>$P_1 \lor P_2$</td>
<td>$P_1^w \lor P_2^w$</td>
</tr>


<tr>
<td>$1$</td>
<td>$1$</td>
</tr>

<tr>
<td>$0$</td>
<td>$0$</td>
</tr>

<tr>
<td>$\square N$</td>
<td>$\dns \forall v \ge w . N^v$</td>
</tr>


<tr>
<td>$a^+$</td>
<td>$a^+(w)$</td>
</tr>

<tr>
<td>$\dns N$</td>
<td>$\dns N^w$
</tr>

</table>







<br><br><br>
</body>
</html>

