<html>
<head>
<script type="text/javascript"
   src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script src="config.js"></script>
<style>
* { -webkit-print-color-adjust:exact; }
.foo {  white-space: pre; }
table.xlate td { background-color: #fed; width: 200px; padding: 8px 0px; text-align: center; vertical-align: baseline;}
table.xlate .header > td { background-color: #def; }
table.xlate { border-spacing: 10px 1px; }
.small { width: 0px; background-color: white;}
.right { text-align: right; }
.val { background-color: #dec; }

.outer { width: 100%; display: table; padding: 20px 0px 20px 0px;  }
.firstouter { width: 100%; display: table; padding: 0px 0px 20px 0px;  }

.inner { display: table-cell; background-color: #def; height: 1.5em; text-align: center; vertical-align: middle;
// text-shadow: 0.1em 0.1em 0.2em white;
 font-size: 20px; font-family: sans}

body { margin: 0px; }
body * { margin: auto; }
.defns {position: absolute; } // so it doesn't create any whitespace above the first header
</style>
</head>
<body>

<div class="defns">
$
\def\dash{\unicode{8212}}
\def\trov{\triangleright}
\def\imp{\Rightarrow}
\def\celse{\ |\ }
\def\prov{\vdash}
\def\dns{{\downarrow}}
\def\ddns{{\Downarrow}}
\def\ups{{\uparrow}}
\def\preq{\dashv\vdash}
\def\sh{\#}
\def\lol{\multimap}
\def\tensor{\otimes}
\def\wat#1{\mathrel{@_{#1}}}
\def\bull#1{\mathrel{\bullet_{#1}}}
\def\hole{\unicode{9728}}
\def\cn{{:}}
\def\here{\dns}
\def\dia{{\large\unicode{9671}}}
$
</div>

<div class="outer"><div class="inner">Language A</div></div>
<table>
<tr><td class="right">Negative $N$</td><td>$::=$</td><td>$P \lol N \celse N \land N \celse \top \celse \dia P \celse a^- \celse \ups P$</td></tr>
<tr><td class="right">Positive $P$</td><td>$::=$</td><td>$P \tensor P \celse P \lor P \celse 1 \celse 0 \celse \square N \celse a^+ \celse \dns N$</td></tr>
</table>




<div class="outer"><div class="inner">
Translation from A to B
</div></div>
We postulate three sorts of first-order terms, frames ($\phi, f, \ldots$) resources ($\alpha, p, \ldots$) and Kripke worlds ($s, t, \ldots$). We overload the symbols $\lol$ and $\tensor$ as example frame and resource constructors.
<p>
The expressions $p\trov f$ and $\star(f)$ are negative atoms. Every
Language-A atom (regardless of polarity) is mapped to a Language-B
positive atom. The expression $s \ge t$ is a positive atom. The expression
$\forall s \ge t . N$ abbreviates $\forall s . (s \ge t) \imp N$.

$$P^\bullet_t(\phi) = \forall\alpha \cn P^t . (\alpha\trov \phi)$$
$$N^\bullet_t(\alpha) = \forall\phi \cn N^t . (\alpha\trov \phi)$$

<table><tr><td> <!-- big table -->

<table class="xlate">
<tr class="header">
<td>$N$</td>
<td>$N^t$</td>
</tr>
<tr>
<td>$P \lol N$</td>
<td>$\exists \alpha \cn P^t . \exists \phi \cn N^t . [\alpha \lol \phi]$ </td>
</tr>

<tr>
<td>$N_1 \land N_2$</td>
<td>$N_1^t \lor N_2^t$</td>
</tr>

<tr>
<td>$\top$</td>
<td>$0$</td>
</tr>

<tr>
<td>$\dia P$</td>
<td>$\eta \phi .  \star(\phi) \tensor \dns \forall s \ge t . P^\bullet_s(\phi)$</td>
</tr>

<tr>
<td>$a^-$</td>
<td>$ \eta\phi . a^+(\phi, t)$</td>
</tr>

<tr>
<td>$\ups P$</td>
<td>$\eta \phi . \dns P^\bullet_t(\phi)$</td>
</tr>

</table>

</td><td> <!-- big table -->

<table class="xlate">
<tr class="header">
<td>$P$</td>
<td>$P^t$</td>
</tr>

<tr>
<td>$P_1 \tensor P_2$</td>
<td>$ \exists \alpha_1 \cn P_1^ t. \exists \alpha_2 \cn  P_2^ t . [\alpha_1 \tensor \alpha_2]$ </td>
</tr>

<tr>
<td>$P_1 \lor P_2$</td>
<td>$P_1 ^t  \lor P_2 ^ t $</td>
</tr>

<tr>
<td>$1$</td>
<td>$[\epsilon]$</td>
</tr>

<tr>
<td>$0$</td>
<td>$0$</td>
</tr>

<tr>
<td>$\square N$</td>
<td>$\eta \alpha . \dns \forall s \ge t . N^\bullet_s(\alpha)$</td>
</tr>


<tr>
<td>$a^+$</td>
<td>$\eta\alpha . a^+(\alpha, t)$</td>
</tr>

<tr>
<td>$\dns N$</td>
<td>$\eta \alpha .\dns N^\bullet_t(\alpha)$</td>
</tr>

</table>

</td></tr></table> <!-- big table -->

<div class="outer"><div class="inner">Language B</div></div>

<table>
<tr><td class="right">Prenegative $M$</td><td>$::=$</td><td>$\dns N \celse a^+(t)\celse M \tensor M$</td></tr>
<tr><td class="right">Negative $N$</td><td>$::=$</td><td>$\forall x\cn P.N \celse M\imp N \celse N \land N \celse \top \celse a^-(t)$</td></tr>
<tr><td class="right">Positive $P$</td><td>$::=$</td><td>$\exists x \cn P.P \celse P \lor P
 \celse 0 \celse  [t]\celse \eta x . M$</td></tr>
<tr><td class="right">Contexts $\Gamma$</td><td>$::=$</td><td>$\cdot \celse \Gamma, M \celse \Gamma, x:P$</td></tr>
<tr><td class="right">Conclusions $K$</td><td>$::=$</td><td>$t:P \celse N \celse M$</td></tr>
</table>

Sequents are either $\Gamma\prov K$. Contex class="right"ts are dependent and therefore ordered. Context
variables can appear in the propositions attached to variable bindings
to their right, although $x$ may not occur in the $P$ of $x:P$ itself.
The metavariable $J$ stands for an arbitrary
$\Gamma' \prov K$. When we say $\Gamma \prov J$, we mean $\Gamma,
\Gamma' \prov K$.

$$
{\Gamma\prov N \over \Gamma\prov \dns N}
 \qquad
{\Gamma, \dns N \prov J \over \Gamma, N \prov J}
$$
$$
{ \Gamma\prov M_1 \qquad \Gamma\prov M_2\over \Gamma \prov M_1\tensor M_2}
\qquad
{\Gamma, M_1, M_2 \prov J \over M_1\tensor M_2\prov J}
$$

$$
{\over\Gamma, a^+(t), \Gamma' \prov a^+(t)}
 \qquad
{\over\Gamma, a^-(t), \Gamma' \prov a^-(t)}
$$
$$
{\Gamma, x:P \prov  N \over\Gamma \prov \forall x\cn P . N} \qquad {\Gamma\prov t : P \qquad \Gamma, [t/x] N\prov J \over\Gamma, \forall x \cn P . N \prov J}
$$
$$
{\Gamma, M \prov  N \over\Gamma \prov M\imp N}
 \qquad
{\Gamma\prov M \qquad \Gamma, N\prov J \over\Gamma, M \imp N \prov J}
$$
$$
{\Gamma, N_i\prov J \over\Gamma,N_1 \land N_2\prov J}\qquad
{\Gamma\prov N_1\qquad\Gamma\prov N_2 \over \Gamma \prov N_1 \land N_2 }
$$
$$
{\over \Gamma \prov \top}
\qquad{\over \Gamma,0,\Gamma' \prov J}
\qquad{\over \Gamma \prov t : 1}
\qquad{\over \Gamma \prov t : [t]}
$$
$$
 {\Gamma\prov[t/x]J \over\Gamma, x:[t] \prov J}\qquad
{\Gamma\prov t : P\qquad \Gamma \prov s : [t/x]P' \over\Gamma \prov s : \exists x\cn P . P'} \qquad
{\Gamma, x :P, y : P' \prov J \over\Gamma, y : \exists x \cn P . P' \prov J}
$$
$$
{\Gamma \prov t: P_i\over\Gamma\prov t:P_1 \lor P_2}\qquad
{\Gamma, x:P_1\prov J\qquad\Gamma, x:P_2\prov J \over \Gamma, x:P_1 \lor P_2 \prov J}
$$
$$
{ \Gamma\prov [t/x]M \over\Gamma \prov t : \eta x . M }\qquad
{\Gamma, y, [y/x]M \prov J \over\Gamma, y : \eta x . M\prov J}
$$



<div class="outer"><div class="inner">
Translation from B to C
</div></div>

Translate sequents like this:
For all $N$ we have
$$\Gamma\prov t : P \qquad\Longleftrightarrow\qquad \forall \Gamma . ((\forall x\cn P^* .N) \imp [t/x]N)$$
And furthermore
$$\Gamma\prov N \qquad\Longleftrightarrow\qquad \forall \Gamma . N^*$$
$$\Gamma\prov M \qquad\Longleftrightarrow\qquad \forall \Gamma . M^*$$
Quantify over contexts like this:
$$\forall(\Gamma, x :P).N = \forall\Gamma.\forall x\cn P^* . N$$
$$\forall(\Gamma, M).N = \forall\Gamma.M^*\imp N$$
$$\forall(\cdot).N = N$$

What $X^*$ means is a recursive elimination of every $\forall x \cn P.N$ according to this function:

<table class="xlate">
<tr class="header"><td>$P$</td><td>$\forall x \cn P . N $</td></tr>
<tr>
<td>$\exists y \cn P_1 . P_2$</td>
<td>$ \forall y \cn P_1 . \forall x \cn P_2.N$</td>
</tr>
<tr>
<td>$P_1 \lor P_2$</td>
<td>$ \forall x \cn P_1 . N \land \forall x \cn P_2 . N$</td>
</tr>
<tr>
<td>$0$</td>
<td>$ \top$</td>
</tr>
<tr>
<td>$1$</td>
<td>$ \forall x . N$</td>
</tr>
<tr>
<td>$[t]$</td>
<td>$ [t/x]N$</td>
</tr>
<tr>
<td>$\eta x \cn P . M$</td>
<td>$ \forall x \cn P. (M\imp N)$</td>
</tr>
</table>



<div class="firstouter"><div class="inner">Language C</div></div>


<table>
<tr><td class="right">Prenegative $M$</td><td>$::=$</td><td>$\dns N \celse a^+(t)$</td></tr>
<tr><td class="right">Negative $N$</td><td>$::=$</td><td>$\forall x .N \celse M\imp N \celse a^-(t) \celse N \land N \celse \top$</td></tr>
<tr><td class="right">Contexts $\Gamma$</td><td>$::=$</td><td>$\cdot \celse \Gamma, M $</td></tr>
</table>






<br><br><br>
</body>
</html>
