<html>
<head>
<script type="text/javascript"
   src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script src="config.js"></script>
<style>
* { -webkit-print-color-adjust:exact; }
.foo {  white-space: pre; }
table.xlate td { background-color: #fed; width: 200px; padding: 8px 0px; text-align: center; vertical-align: baseline;}
table.xlate .header > td { background-color: #def; }
table.xlate { border-spacing: 10px 1px; }
.small { width: 0px; background-color: white;}
.right { text-align: right; }
.val { background-color: #dec; }
b { background-color: #dec; padding: 5px; margin: 5px; display: inline-block; line-spacing: 10em; }

.outer { width: 100%; display: table; padding: 20px 0px 20px 0px;  }
.firstouter { width: 100%; display: table; padding: 0px 0px 20px 0px;  }

.inner { display: table-cell; background-color: #def; height: 1.5em; text-align: center; vertical-align: middle;
// text-shadow: 0.1em 0.1em 0.2em white;
 font-size: 20px; font-family: sans}

body { width: 600px; margin: auto; }
body * { margin: auto; }
.defns {position: absolute; } // so it doesn't create any whitespace above the first header
</style>
</head>
<body>

<div class="defns">
$
\def\dash{\unicode{8212}}
\def\trov{\triangleright}
\def\ttrov{\triangleright_t}
\def\xtrov{\triangleright_x}
\def\imp{\Rightarrow}
\def\celse{\ |\ }
\def\prov{\vdash}
\def\dns{{\downarrow}}
\def\ups{{\uparrow}}
\def\preq{\dashv\vdash}
\def\sh{\#}
\def\lol{\multimap}
\def\lto{\rightarrowtail}
\def\rto{\twoheadrightarrow}
\def\tensor{\otimes}
\def\wat#1{\mathrel{@_{#1}}}
\def\ast#1{\mathrel{*_{#1}}}
\def\bull#1{\mathrel{\bullet_{#1}}}
\def\rle{=}
$
</div>



<div class="firstouter"><div class="inner">Translation</div></div>


<table class="xlate">
<tr class="header"><td>$P / N$</td><td>$P\ast t q / N\ast t f$</td></tr>
<tr>
<td>$P \lto N$</td>
<td>$\exists \alpha. (P \ast t \alpha) \land \exists \phi . (N \ast t \phi) \land (\alpha \lto \phi \rle f)$ </td>
</tr>

<tr>
<td>$P \rto N$</td>
<td>$\exists \alpha. (P \ast t \alpha) \land \exists \phi . (N \ast t \phi) \land (\alpha \rto \phi \rle f)$ </td>
</tr>


<tr>
<td>$P_1 \tensor P_2$</td>
<td>$\exists \alpha_1. (P_1 \ast t \alpha_1) \land \exists \alpha_2 . (P_2 \ast t \alpha_2) \land (\alpha_1 * \alpha_2 \rle q)$ </td>
</tr>


<tr>
<td>$1$</td>
<td>$1 \rle q$</td>
</tr>


<tr>
<td>$N_1 \land N_2$</td>
<td>$N_1 \ast t f \lor N_2 \ast t f$</td>
</tr>

<tr>
<td>$P_1 \lor P_2$</td>
<td>$P_1 \ast t q \lor P_2 \ast t q$</td>
</tr>

<tr>
<td>$\top$</td>
<td>$\bot$</td>
</tr>

<tr>
<td>$0$</td>
<td>$\bot$</td>
</tr>


<tr>
<td>$a^-$</td>
<td>$\star_n(a^-, f, t)$</td>
</tr>


<tr>
<td>$a^+$</td>
<td>$\star_p(a^+,q, t)$</td>
</tr>

<tr>
<td>$\ups P$</td>
<td>$\dns (P \bull t f)$</td>
</tr>

<tr>
<td>$\dns N$</td>
<td>$\dns (N \bull t q)$</td>
</tr>

<tr>
<td>$\Diamond P$</td>
<td>$ f \sqsubseteq t \land \dns \forall x \ge t .   P \bull x f$</td>
</tr>

<tr>
<td>$\square N$</td>
<td>$q \sqsubseteq t \land \dns \forall x \ge t . N \bull x q$</td>
</tr>

</table>

We translate positive propositions $P$ at `resource descriptors' $q$, and negatives
$N$ at `frame descriptors' $f$. Both translations are also parametrized by a kripke
world $t$. These are characterized by:
<table>
<tr><td class="right">Frames $f$</td><td class="right">$::=$</td><td>$q \lto f \celse q \rto f \celse \phi $</td></tr>
<tr><td class="right">Resources $q$</td><td class="right">$::=$</td><td>$q \tensor q \celse 1 \celse \alpha$</td></tr>
<tr><td class="right">Kripke Worlds $t$</td><td class="right">$::=$</td><td>$x$</td></tr>
</table>
This definition uses the following abbreviations:
$$ P \bull t f = \forall \alpha.  P \ast t \alpha \imp \alpha \ttrov f$$
$$ N \bull t q = \forall \phi. N \ast t \phi \imp q \ttrov \phi$$

A resource is really just a collection of resource variables, which
describes the shape of a context, also known as a sequent minus its
conclusion. A frame is just a frame variable, with some resource
variables glommed onto it, which describes the shape of a sequent
minus a hypothesis. We bake in some equalities on worlds and frames to
capture the context equivalences of linear logic.

<br><br>
The atomic propositions I'm positing to exist in the destination language are:
<ul>
<li>$t_1 \ge t_2$ is a positive atom on two Kripke worlds,
<li>$f \sqsubseteq t$ is a positive atom on a frame and a world.
<li>$q \sqsubseteq t$ is a positive atom on a resource and a world.
<li>$q \ttrov f$ is a negative atom taking a resource, a world, and a frame.
<li> $\star_n(a^-, f, t)$ is a positive atom taking a negative source-language atom, a frame, and a world.
<li> $\star_p(a^+, q, t)$ is a positive atom taking a positive source-language atom, a resource, and a world.
</ul>

Equality on atoms $q \ttrov f$ must at least have the adjunctions
$$(q_1 \ttrov q_2 \rto f) = (q_1 \tensor q_2 \ttrov f) = (q_2 \ttrov
q_1 \lto f)$$ but we can impose additional axioms to get ordered ($q_1
\tensor (q_2 \tensor q_3) = (q_1 \tensor q_2) \tensor q_3$) or linear
($q_1 \tensor q_2 = q_2 \tensor q_1$) or intuitionistic ($q = 1$)
logic.

<p>We also always want the compatibility axioms
$$
\frac
{q \sqsubseteq t \qquad f \sqsubseteq t }
{q \lto f \sqsubseteq t}
\qquad
\frac
{q \sqsubseteq t \qquad f \sqsubseteq t }
{q \rto f \sqsubseteq t}
\qquad
\frac
{q_1 \sqsubseteq t \qquad q_2 \sqsubseteq t }
{q_1 \tensor  q_2 \sqsubseteq t}
\qquad
\frac
{}
{1 \sqsubseteq t}
$$

<p>If you want the modal logic K, don't add any more axioms for $\sqsubseteq$ or $\ge$.

<p>If you want the modal logic  T, add reflexivity for $\ge$.

<p>If you want the modal logic  K4, add transitivity for $\ge$ and "transitivity"
for $\sqsubseteq$:
$$
\frac
{f \sqsubseteq t \qquad t \le t'}
{f \sqsubseteq t'}
\qquad
\frac
{q \sqsubseteq t \qquad t \le t'}
{q \sqsubseteq t'}
$$

<p>If you want the modal logic  S4, take the union of the axioms in T and K4.

</body>
</html>
