<html>
<head>
<script type="text/javascript"
   src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script src="config.js"></script>
<style>
* { -webkit-print-color-adjust:exact; }
.foo {  white-space: pre; }
td { background-color: #fed; width: 200px; padding: 8px 0px; text-align: center; vertical-align: baseline;}
.header > td { background-color: #def; }
table { border-spacing: 10px 1px; }
.small { width: 0px; background-color: white;}
.val { background-color: #dec; }

.outer { width: 100%; display: table; padding: 20px 0px 20px 0px;  }
.firstouter { width: 100%; display: table; padding: 0px 0px 20px 0px;  }

.inner { display: table-cell; background-color: #def; height: 1.5em; text-align: center; vertical-align: middle;
// text-shadow: 0.1em 0.1em 0.2em white;
 font-size: 20px; font-family: sans}

body { margin: 0px; }
body * { margin: auto; }
.defns {position: absolute; } // so it doesn't create any whitespace above the first header 
</style>
</head>
<body>

<div class="defns">
$
\def\imp{\Rightarrow}
\def\celse{\ |\ }
\def\prov{\vdash}
\def\tensor{\otimes}
\def\dns{{\downarrow}}
\def\ups{{\uparrow}}
\def\preq{\dashv\vdash}
\def\sh{\#}
$
</div>

<div class="firstouter"><div class="inner">Source Language</div></div>

The source language is polarized first-order logic.
Its syntax goes like this:
<table>
<tr><td class="small">Negative $N$</td><td class="small">$::=$</td><td>$P \imp N \celse N \land N \celse \top \celse \forall x . N \celse a^-(t) \celse \ups P$</td></tr>
<tr><td class="small">Positive $P$</td><td class="small">$::=$</td><td>$P \tensor P \celse P \lor P \celse 1 \celse 0 \celse \exists x . P \celse a^+(t) \celse \dns N$</td></tr>
<tr><td class="small">Terms $t$</td><td class="small">$::=$</td><td>$x \celse \cdots$</td></tr>
</table>
It has negative connectives, and both polarities of atoms. First-order terms can be built from variables and whatever term constructors you like.

<div class="outer"><div class="inner">Target Language</div></div>

<table>
The target language is just ordinary unpolarized first-order intuitionistic logic, with two nonstandard connectives, a U-quantifier, and a V-operator:
<tr><td class="small">Propositions $A,B,C$</td><td class="small">$::=$</td><td>$A \imp A \celse A \land A \celse A \lor A \celse \top \celse \bot \celse \forall x . A \celse \exists x . A\celse Ux.A\celse V_t A \celse a(t)$</td></tr>
</table>
The rules for $U$ and $V$ feature a distinguished atomic proposition $\sh$ that takes one term argument.
$${ \Gamma, A \prov \sh \over \Gamma \prov Ux.A }{\small(x\not\in\Gamma)}\qquad
{ \Gamma\prov A(t) \over \Gamma, Ux.A \prov \sh(t) }$$
$${ \Gamma, A \prov \sh \over \Gamma \prov V_t A }\qquad
{ \Gamma\prov A \over \Gamma, V_t A \prov \sh(t) }$$

Naturally, it is easy to show that $Ux.A \preq \forall x . A \imp \sh(x)$ and $V_t A \preq A \imp \sh(t)$, but the presentation
of $U$ and $V$ as 'jumbo' connectives is important for the isomorphism proof.

<div class="outer"><div class="inner">
Abbrevs and Translation
</div></div>

We define $P^\ast$, $P^\circ(A)$, $N^t$, $N^\circ$ by
<table>
<tr class="header">
<td>$N$</td>
<td>$N^\circ$</td>
<td>$N^ t$</td>
</tr>
<tr>
<td>$P \imp N$</td>
<td>$P^\circ ( N^\circ )$</td>
<td>$P^\ast \land N^t $
</tr>

<tr>
<td>$N_1 \land N_2$</td>
<td>$N_1^\circ \land N_2^\circ$</td>
<td>$N_1^t \lor N_2^t$</td>
</tr>

<tr>
<td>$\top$</td>
<td>$\top$</td>
<td>$\bot$</td>
</tr>

<tr>
<td>$\forall x . N$</td>
<td>$\forall x . N^\circ$</td>
<td>$\exists x . N^t$</td>
</tr>

<tr>
<td>$a^-$</td>
<td>$\forall x.a^-(x) \imp \sh(x)$</td>
<td>$a^-(t)$</td>
</tr>

<tr>
<td>$\ups P$</td>
<td>$\forall x . V_x P^\ast  \imp \sh(x)$</td>
<td>$P^\circ(\sh(t))$
</tr>

</table>

<table>
<tr class="header">
<td>$P$</td>
<td>$P^\circ(A)$</td>
<td>$P^\ast$</td>
</tr>

<tr>
<td>$P_1 \tensor P_2$</td>
<td>$P_1 ( P_2( A))$</td>
<td>$P_1^\ast \land P_2^\ast$
</tr>

<tr>
<td>$P_1 \lor P_2$</td>
<td>$P_1^\circ(A) \land P_2^\circ(A)$</td>
<td>$P_1^\ast \lor P_2^\ast$</td>
</tr>

<tr>
<td>$1$</td>
<td>$A$</td>
<td>$\top$</td>
</tr>

<tr>
<td>$0$</td>
<td>$\top$</td>
<td>$\bot$</td>
</tr>

<tr>
<td>$\exists x . P$</td>
<td>$\forall x . P^\circ(A)$</td>
<td>$\exists x . P^\ast$</td>
</tr>

<tr>
<td>$a^+$</td>
<td>$a^+ \imp A$</td>
<td>$a^+$</td>
</tr>

<tr>
<td>$\dns N$</td>
<td>$(Ux . N^x) \imp A$</td>
<td>$N^\circ$
</tr>

</table>
We're abusing notation a little by acting like that the $a^-$ and $a^+$ in the source language don't have arguments.
What's really going on in the translation of $a^-$ is we're adding one more argument to the list, and with $a^+$ preserving
the set of arguments.

<div class="outer"><div class="inner">
Translation of sequents
</div></div>


$$N^* = Ux.N^x$$
$$P^*(x) = V_x P^\ast$$


<table>
<tr><td>$N_1\ldots, N_n\prov P$</td><td>$N_1^*, \ldots, N_n^*,  P^*(x)  \prov \sh(x)$</td></tr>
<tr><td>$N_1\ldots, N_n\prov a^-$</td><td>$N_1^*, \ldots, N_n^*, a^-(x) \prov \sh(x)$</td></tr>
<tr><td>$N_1\ldots, N_n; P_1, \ldots, P_m\prov N$</td><td>$N_1^*, \ldots, N_n^* \prov P_1^\circ(\cdots(P_m^\circ(N^\circ))\cdots)$</td></tr>
<tr><td>$N_1\ldots, N_n; P_1, \ldots, P_m\prov a^-$</td><td>$N_1^*, \ldots, N_n^*, a^-(x) \prov P_1^\circ(\cdots(P_m^\circ(\sh(x)))\cdots)$</td></tr>
<tr><td>$N_1\ldots, N_n[N]\prov P$</td><td>$N^*_1, \ldots, N^*_n,  P^*(x)  \prov N^x$</td></tr>
<tr><td>$N_1\ldots, N_n[N]\prov a^-$</td><td>$N^*_1, \ldots, N^*_n, a^-(x) \prov N^x$</td></tr>
<tr><td>$N_1\ldots, N_n\prov N$</td><td>$N^*_1, \ldots, N^*_n\prov N^\circ$</td></tr>
<tr><td>$N_1\ldots, N_n\prov [P]$</td><td>$N^*_1, \ldots, N^*_n\prov P^\ast$</td></tr>
</table>

<div class="outer"><div class="inner">
Theorems
</div></div>

Proving these establishes cut and identity for FF,
and are super easy to prove by induction:
<table><tr><td>
$P^\circ(A) \preq P^\ast \imp A$
</td></tr>
<tr><td>
$N^\circ \preq Ux.N^x$
</td></tr></table>

<br><br><br>
</body>
</html>

