<html>
<head>
<script type="text/javascript"
   src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script src="config.js"></script>
<style>
* { -webkit-print-color-adjust:exact; }
.foo {  white-space: pre; }
td { background-color: #fed; width: 200px; padding: 8px 0px; text-align: center; vertical-align: baseline;}
.header > td { background-color: #def; }
table { border-spacing: 10px 1px; }
.small { width: 0px; background-color: white;}
.val { background-color: #dec; }

.outer { width: 100%; display: table; padding: 20px 0px 20px 0px;  }
.firstouter { width: 100%; display: table; padding: 0px 0px 20px 0px;  }

.inner { display: table-cell; background-color: #def; height: 1.5em; text-align: center; vertical-align: middle;
// text-shadow: 0.1em 0.1em 0.2em white;
 font-size: 20px; font-family: sans}

body { margin: 0px; }
body * { margin: auto; }
.defns {position: absolute; } // so it doesn't create any whitespace above the first header 
</style>
</head>
<body>

<div class="defns">
$
\def\imp{\Rightarrow}
\def\celse{\ |\ }
\def\prov{\vdash}
\def\dns{{\downarrow}}
\def\preq{\dashv\vdash}
\def\sh{\#}
$
</div>

<div class="firstouter"><div class="inner">Source Language</div></div>

The source language is the small focused first-order logic FF described in
<I>Focus-preserving Embeddings of Substructural Logics in Intuitionistic Logic</I>.
Its syntax goes like this:
<table>
<tr><td class="small">Negative $N$</td><td class="small">$::=$</td><td>$P \imp N \celse N \land N \celse \top \celse \forall x . N(x) \celse a^-(t)$</td></tr>
<tr><td class="small">Positive $P$</td><td class="small">$::=$</td><td>$\dns N \celse a^+(t)$</td></tr>
<tr><td class="small">Terms $t$</td><td class="small">$::=$</td><td>$x \celse \cdots$</td></tr>
</table>
It has negative connectives, and both polarities of atoms. First-order terms can be built from variables and whatever term constructors you like.

<div class="outer"><div class="inner">Target Language</div></div>

<table>
The target language is just ordinary unpolarized first-order intuitionistic logic, with one nonstandard connective, a U-quantifier:
<tr><td class="small">Propositions $A,B,C$</td><td class="small">$::=$</td><td>$A \imp A \celse A \land A \celse A \lor A \celse \top \celse \bot \celse \forall x . A(x) \celse \exists x . A(x)\celse Ux.A(x)\celse a(t)$</td></tr>
</table>
The rules for $U$ feature a distinguished atomic proposition $\sh$ that takes one term argument.
$${ \Gamma, A(x) \prov \sh(x) \over \Gamma \prov Ux.A(x) }{\small(x\not\in\Gamma)}\qquad
{ \Gamma\prov A(t) \over \Gamma, Ux.A(x) \prov \sh(t) }$$
Naturally, it is easy to show that $Ux.A(x) \preq \forall x . A(x) \imp \sh(x)$, but the presentation
of $U$ as a 'jumbo' connective is important for the isomorphism proof.

<div class="outer"><div class="inner">
Abbrevs and Translation
</div></div>

We mutually recursively make the abbreviation
$$N^\ast = Ux.N^x$$
and define $P^\ast$, $P^\circ$, $N^t$, $N^\circ$ by
<table>
<tr class="header"><td>$N$</td><td>$N^ t$</td><td>$N^\circ$</td></tr>
<tr>
<td>$P \imp N$</td>
<td>$P^\ast \land N^t$
<td>$P^\circ \imp N^\circ$</td>
</tr>

<tr>
<td>$N_1 \land N_2$</td>
<td>$N_1^t \lor N_2^t$</td>
<td>$N_1^\circ \land N_2^\circ$</td>
</tr>

<tr>
<td>$\top$</td>
<td>$\bot$</td>
<td>$\top$</td>
</tr>

<tr>
<td>$\forall x . N(x)$</td>
<td>$\exists x . N^t(x)$</td>
<td>$\forall x . N^\circ(x)$</td>
</tr>

<tr>
<td>$a^-$</td>
<td>$a^-(t)$</td>
<td>$(a^-)^\ast$</td>
</tr>
</table>

<table>
<tr class="header"><td>$P$</td><td>$P^\ast$</td><td>$P^\circ$</td></tr>
<tr>
<td>$\dns N$</td>
<td>$N^\circ$
<td>$N^\ast$</td>
</tr>

<tr>
<td>$a^+$</td>
<td>$a^+$</td>
<td>$a^+$</td>
</tr>
</table>
We're abusing notation a little by acting like that the $a^-$ and $a^+$ in the source language don't have arguments.
What's really going on in the translation of $a^-$ is we're adding one more argument to the list, and with $a^+$ preserving
the set of arguments.

<div class="outer"><div class="inner">
Translation of sequents
</div></div>

<table>
<tr><td>$N_1\ldots, N_n\prov a^-$</td><td>$N_1^\ast, \ldots, N_n^\ast, a^-(x) \prov \sh(x)$</td></tr>
<tr><td>$N_1\ldots, N_n[N]\prov a^-$</td><td>$N^\ast_1, \ldots, N^\ast_n, a^-(x) \prov N^x$</td></tr>
<tr><td>$N_1\ldots, N_n\prov N$</td><td>$N^\ast_1, \ldots, N^\ast_n\prov N^\circ$</td></tr>
<tr><td>$N_1\ldots, N_n\prov [P]$</td><td>$N^\ast_1, \ldots, N^\ast_n\prov P^\ast$</td></tr>
</table>

<div class="outer"><div class="inner">
Theorems
</div></div>

Proving these establishes cut and identity for FF,
and are super easy to prove by induction:
<table><tr><td>
$P^\ast \preq P^\circ$
</td></tr>
<tr><td>
$N^\ast \preq N^\circ$
</td></tr></table>

<br><br><br>
</body>
</html>

